body{margin:0;background-color:#f4f4f4;}
#header{height:50px;margin:0 0 2px 0;padding:2px 0 0 10px;font-family:'Geneva',Arial,helvetica,sans-serif;font-size:18px;font-weight:300;color:#fff;background:#4f4f4f url("img/hdr_bg_2.png") repeat-x top left}
#header #netmiller{float:left;margin:12px 0 0 5px;padding:5px 0 0 40px;background:transparent url("img/folder_32.png") no-repeat top left}
#header #customer{float:left;margin:15px 0 0 120px}
#wrapper{position:relative;width:960px;margin:0 auto !important;margin-top:0}
#right-bg{float:right;background:#fff;width:700px;border-left:1px solid #d3d3d3}
#left-bg{float:left;background:#fff;width:260px;margin-left:-262px}
#over-both{margin-top:0;float:left;width:960px;min-height:1100px;border:1px solid #d3d3d3;-webkit-border-radius-radius:4px;-moz-border-radius:4px;border-radius:4px}
#leftcol{float:left;width:260px;padding:10px}
#rightcol{float:left;width:690px;padding:0}
#page{padding:0 10px 0 20px}
#nappulat{margin:0 0 10px 10px;font-size:12px;}
#nappulat span.glyphicon{font-size:12px;color:#008000}
#listTree{font-family:'Arial','Helvetica Neue',helvetica,sans-serif;font-size:13px;}
#listTree ul{margin:0;padding:0}
#listTree li.section span{padding-left:10px;font-weight:600;border-top:1px solid #d0d0d0}
#listTree li.section i{float:right;margin:3px 5px 0 0;font-size:10px}
#listTree li.page{display:inline-block;width:100%;padding:3px;font-weight:400;padding-left:15px;}
#listTree li.page i{float:left;margin:3px 5px 0 0;color:#008000}
#listTree li{list-style-type:none;cursor:pointer}
#listTree > ul > li{background-color:#f1f1f1;}
#listTree > ul > li span i.fa{color:#808080}
#listTree span{display:inline-block;width:100%;padding:3px}
#listTree > ul > li > ul > li{background-color:#fff;border-width:1px 0 0 0;border-style:solid;border-color:#ddd;padding-left:10px}
#listTree > ul > li > ul > li:first-child{border-width:1px 0 0 0}
#listTree > ul > li > ul > li:last-child{border-width:1px 0 0 0}
strong{font-weight:700}
