//- ------------------------------------------------------------
//- doc.netmiller.fi -sivuilla käytetyt CSS-asetukset
//- Esa.Laitila@netmiller.fi
//- ------------------------------------------------------------

//- Ladataan sopiva perusfontti

//- @import url("http://fonts.googleapis.com/css?family=Varela\+Round")
//-@import url("http://fonts.googleapis.com/css?family=Lato:300italic,300,400italic,400,700italic,700")
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all")
//- @import url("http://fonts.googleapis.com/css?family=Average\+Sans:400")
//-  @import url("http://fonts.googleapis.com/css?family=Source\+Sans\ Pro:200italic,200,300italic,300,400italic,400,600italic,600,700italic,700,900italic,900")

@require 'nmdoc01'
@require 'nmdoc03'
