<!DOCTYPE HTML>

<html ng-app="doc">

<head>

    <title>doc.netmiller.fi - ABB:n vakuutuskassa</title>
    <meta charset="utf-8">

    <!-- Bootstrap, latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- doc.netmiller CSS -->
    <link rel="stylesheet" href="../common/css/nmdoc.css" type="text/css">

</head>

<body>

<div id="wrapper" ng-controller="mainCtrl">

    <div id="header">
          <div id="netmiller">doc.netmiller.fi</div>
          <div id="customer">ABB:n vakuutuskassa - www-sivujen ohjeistus</div>
    </div>

    <div id="right-bg">
        <div id="left-bg">

            <div id="over-both">

                <div id="leftcol">

                    <div id="nappulat">

                        <button type="button"
                            class="menu-expand btn btn-default btn-xs"
                            ng-click="toggleAll(true)">
                                Näytä kaikki <span class="glyphicon glyphicon-save"></span>
                        </button>
                        <button type="button"
                            class="menu-collapse btn btn-default btn-xs"
                            ng-click="toggleAll(false)">
                                Piilota <span class="glyphicon glyphicon-open"></span>
                        </button>
                        <!-- button class="btn btn-info">Expand All</button -->
                        <!-- button class="btn btn-warning">Collapse All</button -->

                    </div>

                    <div id='listTree'>
                        <ul>
                            <li class='section' ng-repeat='menu1 in valikko.menu'>
                                <span class='menu-1'
                                    ng-click="toggleMenu(menu1)">
                                    {{menu1.key}}
                                    <i ng-if='menu1.visible' class='glyphicon glyphicon-chevron-up'></i>
                                    <i ng-if='!menu1.visible' class='glyphicon glyphicon-chevron-down'></i>
                                </span>
                                <ul ng-if='menu1.visible'
                                    ng-repeat='submenu in menu1.menu2'>
                                    <li class="page"
                                        data={{submenu.href}}
                                        ng-class="(submenu.isActive) ? 'curr' : ''"
                                        ng-click='naytaSivu(submenu,$event)'>
                                        <i class='glyphicon glyphicon-edit'></i>
                                        {{ submenu.key }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>

                <div id='rightcol'>
                    <div id='page'
                        my-bind-html='page'
                        ng-click='redirectLink($event)'>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!-- AngularJS -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<!-- AngularJS Cookies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-cookies.min.js"></script>
<!-- AngularJS Resource -->
<!-- script src="http://code.angularjs.org/1.2.14/angular-resource.min.js"></script -->

<!-- local marked JavaScript -->
<script src="../common/js/marked.min.js"></script>

<!-- app functions -->
<script src="../common/js/MDApp.js"></script>

</body>
</html>